/* Global Styles */
body {
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    height: 100vh;
    
}

h1 {
    background: linear-gradient(to right, #5206d5e6, #2d87b8); /* You can customize the gradient colors here */
    background-clip: text;
    -webkit-background-clip: text;    
    color: transparent;
    font-size: 3rem;
    font-weight: bold;
} 


.card{
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.card-img{
    border-radius: 20px;
}
/* Weather Card */
.weather-card {
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(to bottom, #3bb8ae, #2f1a50f6);
    color: white;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin: 20px auto;
    max-width: 250px; 
    border: 0cm;
}

.weather-display {
    margin-bottom: 20px;
}

.weather-display h2 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.weather-display p {
    font-size: 18px;
    text-transform: capitalize;
    margin: 5px 0 0;
}

.weather-forecast {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #dcdcdc;
}

.weather-forecast div {
    text-align: left;
}

.weather-forecast p {
    margin: 0;
}

